* {
  background-color: blanchedalmond;
}

#Home img {
  padding-left: 500px;
}
h1 {
  text-align: center;
  font-size: 30px;
}
#Home h1 {
  color: red;
}

#Bio h1 {
  color: Blue;
}

#Blog h1 {
  color: Green;
}

#Bio li {
  font-style: italic;
  list-style: none;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
}
